/* body {
    margin: 0;
}

h1 {
    text-align: center;
    margin: 40px;
}

 .center {
    text-align:center;
    vertical-align:middle;
 } */


h1 {
 text-align: center;
 margin: 30px;
}

.col-sm {
    padding: 1rem;
    background-color: lightpink;
    border: 2px solid white;
    color: white;
    text-align: center;
 }

 .form-group {
    text-align: center;
 }