body {
    background-color: #264653 ;
    letter-spacing: 1px;
}

h1 {
 text-align: center;
 margin: 30px;
 color: whitesmoke
}

.col-sm {
    padding: 1rem;
    border: 2px solid #264653;
    color: white;
    text-align: center;
 }

 .completedTask {
    font-style: italic;
    text-decoration: line-through;
 }

 #quadBoth {
    background-color: #E76F51;
 }

 #quadBoth:hover {
   background-color: #e45d3b;
   transition-duration: 0.4s;
}

 #quadJustUrgent {
    background-color: #F4A261;
 }

 #quadJustUrgent:hover {
   background-color: #f08f3f;
   transition-duration: 0.4s;
}

 #quadJustImportant {
    background-color: #E9C46A;
 }

 #quadJustImportant:hover {
   background-color: #ebbc45;
   transition-duration: 0.4s;
}

 #quadNeither {
    background-color: #2A9D8F;
 }

 #quadNeither:hover {
   background-color: #019e8b;
   transition-duration: 0.4s;
}

 .inputArea {
    /* padding-top: 30px;
    padding-bottom: 30px; */
    text-align: center;
 }

 .checkboxArea {
    text-align: center;
    padding: 10px;
 }

 #taskInput {
    width: 70%;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid #52c8f7;
    border-radius: 30px;
    transition-duration: 0.2s;
    background-color: whitesmoke;
    font-size: 20px;
 }

 #taskInput:hover {
    border: 2px solid #a272ba;
 }

 label {
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: 1px;
 }

 h2 {
    color: whitesmoke;
    font-size: 20px;
    margin: 0;
 }

#submitButton {
   transition-duration: 0.4s;
   background-color: #a272ba;
   padding: 10px 30px 10px 30px;
   color: white;
   border-radius: 20px;
}
  
#submitButton:hover {
   background-color: #9c55bd;
}

.inputCheckbox {
    margin: 10px;
    background-color: #1b343d;
}

.checkboxLabel {
    margin: 5px 20px 5px 0px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

 h3 {
   letter-spacing: 2px;
 }

.checkboxArea {
   background-color: #264653;
   transition-duration: 3s;
   margin-top: 0;
   padding-top: 0;
}

.checkboxArea > button {
   background-color: #3a6d82;
   margin: 0;
   border-radius: 4px;
}

.checkboxArea > button:hover {
   background-color: #698a98;
   margin: 0;
}

.trashButton {
   width: 40px;
   height: 40px;
   border-radius: 20px;
}

#urgentLabel {
   margin-right: 30px;
}

#checkUrgent {
   margin-left: 25px;
}